<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sso.server.mapper.RoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.sso.server.entity.RoleResource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="r_id" property="rId" jdbcType="VARCHAR" />
    <result column="m_id" property="mId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, r_id, m_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role_resource
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role_resource
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sso.server.entity.RoleResource" >
    insert into role_resource (id, r_id, m_id)
    values (#{id,jdbcType=VARCHAR}, #{rId,jdbcType=VARCHAR}, #{mId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sso.server.entity.RoleResource" >
    insert into role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rId != null" >
        r_id,
      </if>
      <if test="mId != null" >
        m_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rId != null" >
        #{rId,jdbcType=VARCHAR},
      </if>
      <if test="mId != null" >
        #{mId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sso.server.entity.RoleResource" >
    update role_resource
    <set >
      <if test="rId != null" >
        r_id = #{rId,jdbcType=VARCHAR},
      </if>
      <if test="mId != null" >
        m_id = #{mId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sso.server.entity.RoleResource" >
    update role_resource
    set r_id = #{rId,jdbcType=VARCHAR},
      m_id = #{mId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>